*{
	padding:0px;
	margin:0px;
}
body {
	width:100%;
	overflow:hidden;
}

.heading1 {
	width:100%;
	padding-top:10px;
	background:black;
	list-style-type: none;
	padding-left:10px;
	overflow: hidden;
}
.heading1 li {
	color: white; 
	font-size:15px;	
}
.heading1 li a {
  background-color: black;
  font-size:15px;
  padding:10px;
}
.home {
	float:left;
	color:white;	
}
.heading2 {
	width:100%;
	color:white;
	list-style-type: none;
	background: grey;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}


.heading2 img{
	float:left;
}
.heading2 p{
	float:left;
	padding:10px
}
.heading2 select{
text-align:center;
}
.row {
	width:100%;
}
#option{
	width:10%;
	height:4%;
	text-align:center;
	float:center;margin-left:350px;
	margin-top: 15px;
}
#icon2{
	float:left;
}
#user{
	float:right;margin-right:10px;
}
#input1 {
	width:20%;
	height:4%;
	margin-top:15px;
}
.row1 {
	width:100%;
}
#actor {
	width:10%;
	height:5%;
	padding:8px;
	text-align:center;
	float:left;margin-left:10px;
	background:purple;
}
#input2 {
    width:37%;
	padding:8px;
	margin-top:0px;
	margin-left:3px:;
}
.heading3 {
	width:100%;
	list-style-type: none;
	background:lightgrey;
	padding:20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.heading3 select {
	background: lightgray;
	border-color:lightgray;
}
#actor1 {
	margin-right:
}
#button1 {
	background: green;
	width:8%;
	height:6%;
}
#button2 {
	background: red;
	width:8%;
	height:6%;
}